
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookingTourWebApp_MVC.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        #header-admin{
            height: 60px;
            background-color: #146C94;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
        .title-header-admin{
            font-size:16px;
            font-weight:bold;
            color: #F6F1F1;
        }
        .div-center{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:row;
        }
        .hambuger-btn{
            background-color: #146C94;
        }
        .div-padding{
            padding-inline:50px;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden;
        }

        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    
    <header id="header-admin" class="row div-center">
        <div class="col-1 div-center" >
            <partial name="_OffcanvasAdminPartial" />

            
        </div>
        <div class="col-11 div-center" >
            <img src="~/src/icons8-plane-48.png" alt="logo" height="36px" width="36px" />
            <span class="title-header-admin">FLIGHTDOT ADMIN</span>
        </div>
    </header>
    
    <main class="container-fluid div-padding">
        @RenderBody()
    </main>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
