@using BookingTourWebApp_MVC.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model LoginViewModel
@inject SignInManager<AppUser> signInManager

<h1>Login</h1>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
    <h4>Use a local account to log in.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary form-control">Log in</button>
        </div>
    </div>
    <p>
        <a asp-action="Register">Register as a new user ?</a>
    </p>
</form>