@model IEnumerable<Tour>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-8">
            <div class="justify-content-end">
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        Không tìm thấy tour du lịch nào cho lựa chọn của bạn. Quay lại để chọn ngày khác.
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("_TourList", Model)
                }
            </div>
        </div>
    </div>
</div>