@model IEnumerable<Tour>

<div class="container">
    <div class="row justify-content-between">
	    <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Sắp xếp
                </div>
                <div class="card-body">
                    <!-- Các tùy chọn sắp xếp -->
                    <div class="form-group">
                        <label for="sort">Sắp xếp theo:</label>
                        <select id="sort" name="sort" class="form-control">
                            <option value="departure">Điểm khởi hành</option>
                            <option value="destination">Điểm đến</option>
                            <!-- Các tùy chọn sắp xếp khác -->
                        </select>
                    </div>
                    <!-- Nút hoặc cách thức kích hoạt sắp xếp -->
                    <button onclick="sortTours()" class="btn btn-primary">Sắp xếp</button>
                </div>
            </div>
	    </div>

	    <div class="col-8">
                <div class="justify-content-end">
                    @if (Model.Count() == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            Không tìm thấy tour du lịch nào cho lựa chọn của bạn. Quay lại để chọn ngày khác.
                        </div>
                    }
                    else
                    {
                        @await Html.PartialAsync("_TourList", Model)
                    }
            </div>
        </div>
    </div>
</div>