﻿@{
	ViewData["Title"] = "TimKiem";
}

<h1>Tìm kiếm theo tên</h1>
<select id="typeKeyword">
	<option value="fullname" selected>UserName</option>
	<option value="phonenumber" >PhoneNumber</option>
	<option value="gmail" >Gmail</option>
</select>
<input id="txtKeyword" placeholder="Tìm gì?" />
<button id="btnSearch" type="submit">Tìm kiếm</button>
<div id="result"></div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$("#btnSearch").click(function () {
				let giaTriTim = $("#txtKeyword").val().trim();
				let loaiTim = $("#typeKeyword").val();
				if (giaTriTim.length > 0) {
					$.ajax({
						url: "/CustomerManagement/HandleSearchUser",
						data: { "keyword": giaTriTim, "typekw": loaiTim},
						success: function(res){
							$("#result").html(res);
						}
					});
				}
			});
		});
	</script>

}
