@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Điều Khoản Sử Dụng:</h1>

<strong>Chấp Nhận Điều Khoản: Việc sử dụng trang web này đồng nghĩa với việc bạn chấp nhận mọi điều khoản và điều kiện sử dụng.</strong>

<p>
    Thông Tin: Tui đảm bảo tính chính xác của thông tin, tuy nhiên, không chịu trách nhiệm về sự thay đổi từ hãng hàng không hoặc các bên thứ ba.
</p>

<p>
    Chính Sách Hủy Vé: Quy định về hủy vé sẽ tuân theo chính sách của từng hãng hàng không, vui lòng kiểm tra trước khi đặt vé.
</p>

<p>
    Bảo Mật: Tui cam kết bảo mật thông tin cá nhân của bạn và sử dụng chúng chỉ cho mục đích đặt vé.
</p>

<p>
    Thay Đổi Điều Khoản: Có thể điều chỉnh, cập nhật hoặc thay đổi điều khoản mà không cần thông báo trước.
</p>

<p>
    Trách Nhiệm: Tui không chịu trách nhiệm về các vấn đề phát sinh từ hành lý, lịch trình chuyến bay hoặc các vấn đề nằm ngoài tầm kiểm soát.
</p>

<p>
    Liên Hệ: Để biết thêm thông tin hoặc giải đáp thắc mắc, vui lòng liên hệ qua thông tin được cung cấp trên trang web.
</p>

<p>
    Việc sử dụng trang web này đồng nghĩa với việc bạn chấp nhận và đồng ý với các điều khoản trên.
</p>
