@model BookingTourWebApp_MVC.ViewModels.VMofStatistical.StatisticalTotalSaleMonth;

<h2> Tổng Doanh thu:</h2>
<div>
    <span>
       Số lượng chuyến bay: @Model.CountFlight
    </span>
    <br />
    <span>
       Tổng doanh thu: @Model.TotalSales
    </span>
</div>
<br />
