@model BookingTourWebApp_MVC.ViewModels.FlightViewModel

@{
    ViewData["Title"] = "Edit";
}
<script>
    function onSubmit() {
        //const result = Swal.fire({
        //    title: 'Error!',
        //    text: 'Do you want to continue',
        //    icon: 'error',
        //    confirmButtonText: 'Cool'
        //});

        //return result.isConfirmed;
        return confirm('Bạn có chắc chắn muốn thay đổi thông tin chuyến bay này?');
    }
</script>
<h1>Edit</h1>

<h4>FlightViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" onsubmit="return onSubmit()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <input asp-for="PlaneId" class="form-control" />
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneName" class="control-label"></label>
                <input asp-for="PlaneName" class="form-control" />
                <span asp-validation-for="PlaneName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <select asp-for="PlaneId" asp-items="@(new SelectList(ViewBag.planeList, "Id", "Name"))" id="planeIdSelect">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <select asp-for="Departure" class="form-control">
                    <option value=""></option>
                    <option value="Nha Trang">Nha Trang</option>
                    <option value="Sài Gòn">Sài Gòn</option>
                    <option value="Đà Nẵng">Đà Nẵng</option>
                    <option value="Cà Mau">Cà Mau</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Vinh">Vinh</option>
                    <option value="Hội An">Hội An</option>
                    <option value="Đà Lạt">Đà Lạt</option>
                    <option value="Bắc Ninh">Bắc Ninh</option>
                </select>
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <select asp-for="Destination" class="form-control">
                    <option value=""></option>
                    <option value="Nha Trang">Nha Trang</option>
                    <option value="Sài Gòn">Sài Gòn</option>
                    <option value="Đà Nẵng">Đà Nẵng</option>
                    <option value="Cà Mau">Cà Mau</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Vinh">Vinh</option>
                    <option value="Hội An">Hội An</option>
                    <option value="Đà Lạt">Đà Lạt</option>
                    <option value="Bắc Ninh">Bắc Ninh</option>
                </select>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessCapacity" class="control-label"></label>
                <input asp-for="BusinessCapacity" class="form-control" />
                <span asp-validation-for="BusinessCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyCapacity" class="control-label"></label>
                <input asp-for="EconomyCapacity" class="form-control" />
                <span asp-validation-for="EconomyCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessPrice" class="control-label"></label>
                <input asp-for="BusinessPrice" class="form-control" />
                <span asp-validation-for="BusinessPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyPrice" class="control-label"></label>
                <input asp-for="EconomyPrice" class="form-control" />
                <span asp-validation-for="EconomyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadTime" class="control-label"></label>
                <input asp-for="UploadTime" class="form-control" />
                <span asp-validation-for="UploadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}